<div>  
 
<div class="row">
<div class="col-md-5" >
<h3>{{attendeeTemplateMode}} Booking Form - {{cId}} - {{mode}} - {{globalResetCounter}}</h3>

 
</div>
   <div class="col-md-7" ng-show="{{eventConfigurations.length}} > 0">

 							<div class="form-group">
								<label class="col-md-2 control-label no-print">Select Event - ({{eventConfigurations.length}})</label>                                                                                                       <!--      options.indexOf(currOption) as currOption for currOption in options -->
								<div class="col-md-8">
									<select class="form-control ng-valid " ng-model="formMeta.eventOffset"    ng-change='changeOfEvent()' name="eventName" required ng-options='eventConfigurations.indexOf(currOption) as currOption.name for currOption in eventConfigurations'>
									 <option value="">Select the relevant training event/module</option>
									</select>
								</div>	 			
							</div>
							<div class="no-print">
								<input ng-if="mode=='Testing Mode' && eventSelected"     type="submit" ng-click="putInTestData()" value="Test Data" class="btn btn-success"   />						
								</div>
								
</div>
</div>
<!--
<div class="row">
<div class="col-md-12" >
 </div>
</div> 
isDataEntryMode
-->
<!-- view cannot be used -->
 
<div class="row" ng-show="{{eventConfigurations.length}}==0">
<div class="col-md-12" >

<h1>Error:</h1>
<p><p>
<h2>You have selected an invalid customer account<p> or <p>this account has no active events.</h2>

<br>
<br>
Select a customer?
 </div>
</div> 


<div class="row no-print" ng-show="isDataEntryMode">
<div class="col-md-12" >
<h3>Put a collapsible list of instructions here</h3>
Use directive<p>
1) Select your event from the list above. <br>
2) Have your details available.<br>
3) You will need details on the school.<br>
4) On the form use "Attendee Data Entry" on the left to identify the choice of event, the lastname and firstname of the attendee.<br>
 You have to complete all fields that are provided.
   <br>Click add attendee and that person will be added to the list on the right. You may then add another attendee.
 <br>
 5) School details etc
 6) Printing this form from the browser will not present nicely for the moment.
<br>
etc
 </div>
</div> 
  
<div class="row " ng-hide="eventSelected == null"> <!-- entire page -->

<div ng-if="receiptID" class="row receiptform  " > 
<!-- only happens on the return trip from the server -->
			<div class="col-md-12" >
 
			 <h1>Receipt Number: {{receiptID}}</h1>
           
			</div>
				 <div class="col-md-12" ng-if="changes">
         The following changes were made on the server to your data:
			   
     </div>		
		 
			 <div class="col-md-12" ng-if="changes">
 
			     <div    ng-repeat="c in changes"      > 
								{{c.m}}
     </div>
           
			</div>
 </div> 


<div class="row no-print" ng-if="eventSelected.overview.meta.visible==true" >
<div class="col-md-12" >
<!-- seminar/workshop heading/overview information -->
     <div ng-show="o.visible==true" ng-repeat="o in eventSelected.overview.data track by $id($index)"    class="col-md-12 {{o.css}}" > 
		 {{o.text}}
     </div>
		  </div>
</div> 
	
 <div class="row no-print" class="iterateofferings"  ng-if="attendeeTemplateMode =='seminar' && eventSelected.offerings.meta.visible == true" >  <!-- iterate the columns of offerings -->
      <div ng-repeat="n in [1,2,3,4] | limitTo:  eventSelected.offerings.meta.columns"  ng-init="columnIndex = $index"  class="col-md-{{12 / eventSelected.offerings.meta.columns}} {{eventSelected.offerings.meta.css}}" > 
			  <div ng-repeat="o in  columnRange($index) " class="offerings_group"  ng-show="o.visible==true"  >
			 
							   <div ng-class="o.line1.css">{{o.line1.text}}</div> 
							   <div ng-class="o.line2.css">{{o.line2.text}}</div>
			  </div>
	</div>
  </div> <!-- iterate the columns of offerings -->
 	

 

 
 <!-- name is required for angular valiation, novalidate disables browser's validation -->
  <form name="eventFORM" class="css-form" novalidate>
	
 <fieldset ng-disabled="formMeta.isSavingForm"> 
 
 
 
 
  <!-- if-show="eventSelected.template_meta.type==template1_seminar" -->
 <div class="row" ng-if="attendeeTemplateMode=='Seminars'">   <!-- Seminar prompt for the list of attendees -->
 <div class="col-md-12 dataEntryPanel" > 
 <!-- via a directive   passing the entire structure as attendees_meta and offerings required
 formData.attendees is the two-way link to the data generated by this directive
 
 -->
  
 <!-- seminars -->
 <seminarattendees    			
        global-reset="globalResetFN()" 
				is-saving-form="formMeta.isSavingForm"			
				attendees="formData.attendees"  
				attendee-positions="formMeta.attendeePositions" 
				attendee-choices="attendeeChoices"
				meta="eventSelected" 	
				attendee-child-scope="attendChildScope"
				attendees-valid="formMeta.attendeesValid"			
				attendees-max="formMeta.maxAttendees"		
 									 >
</seminarattendees>  
 
 </div>
 </div>   <!-- Seminars end prompt for the list of attendees -->
 
  <!-- if-show="eventSelected.template_meta.type=='template1_workshops'" -->
 <div class="row"  ng-if="attendeeTemplateMode=='Workshops'" >   <!-- Workshop prompt for the list of attendees -->
 <div class="col-md-12 dataEntryPanel" > 
 <!-- via a directive   passing the entire structure as attendees_meta and offerings required
 formData.attendees is the two-way link to the data generated by this directive
 
 -->
 
 <!-- workshops -->
<workshopattendees    				
							global-reset="globalResetFN()"									
							is-saving-form="formMeta.isSavingForm"			
							attendees="formData.attendees"  
							attendee-positions="formMeta.attendeePositions"   
							workshops-meta="formMeta.workshopsMeta"		
							attendees-valid="formMeta.attendeesValid"		
              attendees-max="formMeta.maxAttendees"							
																								 >
</workshopattendees>  
 
 </div>
 </div>   <!-- Workshops end prompt for the list of attendees -->
	

		 <div class="row" ng-if="eventSelected.organisation.meta.enabled==true"> 
						<div class="col-md-12 dataEntryPanel" >

		 <organisationdetailstemplate1  
											 global-reset="globalResetFN()"
		                   use-template="organisationTemplateName"
                       organisation="formData.organisation"  
											 organisation-u-i-text="formMeta.organisationType"
											 organisation-u-i-sector-no-text="formMeta.sectorUINoText"
											 organisation-valid="formMeta.organisationValid"	
											 >                                                                                                     
         </organisationdetailstemplate1>  

						</div>
		 </div>
		 
		 <div class="row" ng-if="eventSelected.contact.meta.enabled==true">
<div class="col-md-12 dataEntryPanel" >
 
 <contactdetailstemplate1    												
																								global-reset="globalResetFN()" 
																								is-saving-form="formMeta.isSavingForm"			
																								form-meta="formMeta"
																								contact="formData.contact"	
																								contact-valid="formMeta.contactValid"																							
																								>
</contactdetailstemplate1>  
 
 </div>
</div> 	
 
 
 	 <div class="row "> <!-- row with reset, recaptcha, confirmation and submit -->

	 
			<div class="col-xs-2   no-print  ">
						<input type="button" ng-click="resetForm(ec.eventForm)" value="Reset Form" class="btn btn-warning" />
			</div>  

			<div class="col-xs-7 no-print dataEntryPanel">
			 <div class="row ">
			 
				<div class="col-xs-2  ">
								<input type="button" ng-click="clearReCAPTCHA()" value="Clear reCAPTCHA" class="btn btn-warning" />
						</div>  			
	 
							<div class="col-xs-10    ">
							 <!-- Recaptcha Widget provided by google        -->
							<div id="captchadiv"  >
							</div>  
			<!--
			handled by the controller now
	 		<div id="captchadiv" vc-recaptcha key="reCapthchaPublicKey"
			      on-create="setreCAPTCHAid(widgetId)" 
						>
			</div>  			
			-->

			    Complete the reCAPTCHA above to prove you are human before submitting the form.<br> This is an anti-spam technique. The verification is valid for 2 minutes.
		 
			</div> 			 
			 
			 
			 	</div> 
			</div> 
 	
			<div class="col-xs-3 no-print">
	  		 
		 							<div class="form-group  ">								
								<div >             <!--  attendees.length  < attendeeMax -->
										&nbsp;&nbsp;
									 
													<label class="dataEntryPanel">Confirm ready to submit:
															<input type="checkbox"  required  ng-model="formData.confirmation" ng-change="toggleConfirmation()">
													</label>					
										&nbsp;&nbsp;
										<input type="submit" ng-click="confirmSubmit()" value="Submit Form" class="btn btn-success" ng-disabled="!eventFormValid" />									
								</div>
							</div>					
			</div>
		</div>
		 </fieldset>

 	 </form>

	 <!--
 <div class="row no-print" > 
			<div class="col-md-12" >
 
				<p><p>
			  {{formData}}<p>
					<hr>
			</div>
 </div>
 -->

   
   </div> <!-- hide if no event selected -->
</div>